@model zaard_application.Models.BuyItem
    @{
        ViewBag.Title = "purchase";
    }

<h2>Product Information</h2>
<div class="col-md-8">
        <hr />
    <dl class="dl-horizontal">
        <dt>
           <p><snall>Name</snall></p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.itemName)
        </dd>

        <dt>
            <p><snall>Price</snall></p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            <p><snall>Released</snall></p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.released)
        </dd>

        <dt>
            <p><snall>Type</snall></p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.itemType)
        </dd>

        <dt>
            <p><snall>Genre</snall></p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.genre)
        </dd>

        <dt>
            <p><snall>Minimum Age</snall></p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.minAge)
        </dd>

        <dt>
            <p><snall>Link</snall></p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.itemLink)
        </dd>

        <dt>
            <p><snall>Description</snall></p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.itemDescription)
        </dd>

        <dt>
            <p><snall>Image</snall></p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image)
        </dd>

        @*<dd>
            @Html.ActionLink("Read Reviews!", "Review", new { buyItemId = Model.buyItemID })
        </dd>
        <dd>
            @Html.ActionLink("Write a Review!", "writeReview", new { buyItemId = Model.buyItemID })
        </dd>*@
    </dl>
    <div class="col-md-3">
        <h2><span class="label label-warning"><a  href="~/BuyItems/addAddressPage">Buy Item &raquo;</a></span></h2>
    </div>
    
   <div class="col-md-4">
         <h2><span class="label label-warning">@Html.ActionLink("Read Reviews!", "Review", new { buyItemId = Model.buyItemID })</span></h2>
   </div>
   <div class="col-md-4">
        <h2><span class="label label-warning">@Html.ActionLink("Write a Review!", "writeReview", new { buyItemId = Model.buyItemID })</span></h2>
   </div>
          
        
   
    </div>
    
       

