@model zaard_application.Models.BidItem
@{
    ViewBag.Title = "purchase";
}

<h2>Product Information</h2>
<div class="col-md-8">
    <hr />
    <dl class="dl-horizontal">
        <dt>
          <p><small> Name </small> </p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.itemName)
        </dd>
        <dt>
            <p><small> Category </small> </p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.itemCategory)
        </dd>

        <dt>
            <p><small> status </small> </p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.auctionStatus)
        </dd>

        <dt>
            <p><small> Start </small> </p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.auctionStart)
        </dd>

        <dt>
            <p><small> End </small> </p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.auctionEnd)
        </dd>

        <dt>
            <p><small> Description </small> </p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.itemDescription)
        </dd>

        <dt>
            <p><small> Image </small> </p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image)
        </dd>

        @*<dd>
            @Html.ActionLink("Read Reviews!", "Review", new { bidItemId = Model.bidItemID })
        </dd>
        <dd>
            @Html.ActionLink("Write a Review!", "writeReview", new { bidItemId = Model.bidItemID })
        </dd>*@



    </dl>
    @*<a class="btn btn-success" href="~/BidItems/makeBidPage" new{itemID = model.bidItemID}>Bid Item &raquo;</a>*@
    <div class="col-md-3">
        <h2> <span class="label label-warning">@Html.ActionLink("Bid Item", "makeBidPage") </span> </h2>
    </div>
    <div class="col-md-4">
        <h2> <span class="label label-warning">@Html.ActionLink("Read Reviews!", "Review", new { bidItemId = Model.bidItemID })</span> </h2>
    </div>
    <div class="col-md-4">
        <h2> <span class="label label-warning">@Html.ActionLink("Write Review!", "writeReview", new { bidItemId = Model.bidItemID }) </span> </h2>
    </div>

</div>

<div class="col-md-3">
    <h2><span class="label label-success">The current bid is at: @Session["maxBid"]</span></h2>
    @*<h2>The Bid is at: @Session["maxBid"]</h2>*@
</div>



